@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

:root {
  --background-color: #ffffff;
  --quote-color: #000000;
  --author-color: #101010;
  --inactive-button: #303030;
  --active-button: #4f345a;
}

.secondary-color {
  color: var(--active-button);
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  opacity: 50%;
}

nav:hover {
  opacity: 100%;
  border-bottom: 2px solid gray;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

nav ul button {
  border: none;
  background: none;
  color: var(--inactive-button);
  font-size: 1rem;
}

nav ul button:hover {
  color: var(--active-button);
  text-decoration: underline;
  cursor: pointer;
}

nav h3 {
  color: var(--quote-color);
}

#home {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
}

#quote {
  color: var(--quote-color);
}

#author {
  color: var(--author-color);
  font-weight: 300;
  font-size: 1.2rem;
}

#btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#btn-wrapper button {
  margin-top: 4rem;
  border: none;
  background: none;
  color: var(--inactive-button);
  font-size: 1rem;
}

#btn-wrapper button:hover {
  color: var(--active-button);
  text-decoration: underline;
  cursor: pointer;
}
