@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

:root {
  --background-color: #ffffff;
  --quote-color: #000000;
  --author-color: #101010;
  --inactive-button: #303030;
  --active-button: #4f345a;
  --modal-btn-background: #dcdcdc;
}

.secondary-color {
  color: var(--active-button);
}

.hidden {
  display: none;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  opacity: 50%;
}

nav:hover {
  opacity: 100%;
  border-bottom: 2px solid var(--inactive-button);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

nav ul button {
  border: none;
  background: none;
  color: var(--inactive-button);
  font-size: 1rem;
}

nav ul button:hover {
  color: var(--active-button);
  text-decoration: underline;
  cursor: pointer;
}

nav h3 {
  color: var(--quote-color);
}

#home {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
}

#quote {
  color: var(--quote-color);
}

#author {
  color: var(--author-color);
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 2rem;
}

#btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#btn-wrapper button {
  margin-top: 4rem;
  border: none;
  background: none;
  color: var(--inactive-button);
  font-size: 1rem;
}

#btn-wrapper button:hover {
  color: var(--active-button);
  text-decoration: underline;
  cursor: pointer;
}

/*  MODAL  */

.background-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
}

.modal-header {
  background-color: var(--active-button);
  color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.modal-header h5 {
  font-size: 0.8rem;
}

#close-modal-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal p {
  padding: 1rem;
  color: var(--quote-color);
}

.modal-quote {
  font-weight: 900;
  font-size: 1rem;
}

.modal-author {
  font-size: 0.8rem;
}

.modal-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.modal-btn-wrapper button {
  font-size: 0.8rem;
  padding: 0.3rem;
}

#modal-action-send-body * {
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: 0.3rem auto;
  display: block;
  width: 80%;
}

#modal-action-send-body label {
  color: var(--quote-color);
}
